.outercontainer
{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	width: 100%;
	max-width: 1080px;
	margin: 2.5rem 5rem;
	padding: 0;
	align-items: center;
}

.header
{
	display: flex;
	flex-direction: inherit;
	flex-wrap: inherit;
	justify-content: flex-start;
	width: inherit;
	max-width: inherit;
	height: auto;
	margin: 0 auto;
	padding: 0 1rem;
}

.title
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: nowrap;
}

.title h2
{
	flex: 1 1 0px;
	display: inline-block;

}
.viewcontrol
{
	flex: 0 0 max-content;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	margin: auto;
}
.viewbutton
{
	display: flex;
	margin: auto .1rem;
	font-size: 1em;
	padding: .375em .75em;
	font-weight: 500;
	border: .05em solid var( --nb-blue );
	border-radius: .25em;
	background-color: var( --nb-blue );
	color: var( --nb-white );
	justify-content: center;
	align-items: center;
}
.viewbutton:focus
{
	background-color: var( --nb-blueFocus );
	color: var( --nb-white );
}


.innercontainer
{
	display: inherit;
	flex-direction: inherit;
	flex-wrap: inherit;
	justify-content: flex-start;
	width: inherit;
	max-width: inherit;
	height: auto;
	margin: 0 auto;
	padding: 0 1rem;
	text-align: left;
}


.week
{
	display: inherit;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
}
.weeknumber
{
	flex: 1 1 100%;
	height: calc( 8vw );
	max-height: 5rem;
	border-radius: .175em;
}
.day
{
	flex: 1 1 100%;
	height: calc( 8vw );
	max-height: 5rem;
	border-radius: .175em;
	cursor: pointer;
}
.currentday
{
	flex: 1 1 100%;
	height: calc( 8vw );
	max-height: 5rem;
	border-radius: .175em;
	border: .09em solid rgba( 61, 61, 61, .3 );
}

.daycontent
{
	margin: .25em .5em;
	height: calc( 100% - (.1em ) );
}

.number
{
	margin: auto;
	padding: 0;
	display: block;
}

.holidayNo
{
	margin: auto;
	padding: 0;
	display: block;
	color:  red;
}